@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

:root{
    --naranja: #ffaa00;
    --nar-dark: #ff7b00;
    --amarillo: #ffdd00;


    --azul: #0061a8;
    --celeste: #3282b8;
    --texto: #bbe1fa;
}

body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}
header, .container{
    width: 80%;
    margin: 0 auto;
    margin-bottom: 30px;
}
header h1{
    color: var(--azul);
    text-align: center;
}
    header h1.xml, p.xml{
        color: var(--nar-dark);
    }
header p{
    margin: 0;
    padding-bottom: 10px;
    font-weight: bold;
    color: var(--celeste);
}
    header p>span{
        font-weight: normal;
        margin-left: 30px;
        color: #000;
    }

.container .list-std{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.box-estudent{
    width: 80%;
    padding: 20px 0;
}
.name-estudiante.xml{
    background: var(--nar-dark);
}
.name-estudiante{
    margin-bottom: 10px;
    background: var(--azul);
    border: none;
    color: #fff;
    padding: 10px 15px;
    font-weight: bold;
    width: 100%;
    display: block;
    font-size: .9rem;
    border-radius: 5px;
    cursor: pointer;
}
    .name-estudiante.xml:hover{
        background-color: var(--amarillo);
        color: #000;
    }
    .name-estudiante:hover{
        background: var(--celeste);
    }
.group-infor.xml{
    border: 2px solid var(--amarillo);
}
.group-infor{
    border: 2px solid var(--azul);
    border-radius: 15px;
    padding: 50px;
    text-align: center;
    height: 250px;
}
    .group-infor p{
        margin-left: 5px;
        font-weight: bold;
    }
    .group-infor p>span{
        font-weight: normal;
        margin-left: 7px;
    }